body {
    margin: 0;
    font-family: "StaratosSkyeng", sans-serif;
    background-image: url(./images/back.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.header {
    height: 100vh;
    background-image: url(./images/head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.content {
    padding-top: 75px;
    border-top: 25px solid black;
    position: relative;
}

table {
    width: 1200px;
    height: 100vh;
    border-collapse: collapse;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

tr, td {
    border: 25px solid white;
    text-align: center;
    vertical-align: bottom;
}

img {
    width: 560px;
}

p {
    background-color: white;
    width: max-content;
    font-size: 30px;
    border-radius: 25px;
    margin: 23px auto;
    padding: 10px 30px;
}

a {
    display: block;
    background-color: #894AFF;
    color: white;
    padding: 11px 30px;
    border-radius: 50px;
    font-size: 38px;
    position: absolute;
    bottom: 75px;
    right: 80px;
}